#fullScreen{
  height: 100px;
  width:100%;
}

#main-content{
  width: 100%;
  height: 1000px;
}

#number-analytics{
  width: 100%;
  height: 300px;
}

.graph-box{
  height: 400px;
  width: 100%;
}

.icon-color{
  color:green;
}
